@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}


.navbar {
  padding: 20px;
  display: flex;
  align-items: center; /* vertically */
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid f2;
}

.navbar h1 {
  color: #f1256d;
}

.navbar .links {
  margin-left: auto; /* move the elements to the right */
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

.content {
  max-width: 600px;
  margin: 40px auto; /* top/bottom  and right/left */
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 15px;
  margin: 20px 0;
  border-radius: 1px solid #fafafa;
}

.blog-preview:hover {
  box-shadow: 1px 5px 9px rgba(0, 0, 0, 0.1);
  background-color: rgb(201, 241, 247);
}

.blog-preview h2 {
  font-size: 20px;
  /* color: #f1356d; */
  color: darkblue;
  margin-bottom: 8px;
}